<style>
table, th {
    border: 0.5px solid #008b8b;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h1 {
    text-align: center
}

html, body {
    background-color: black;
    min-height: 100%;
    line-height: 1.5;
}
body {
    color: #fafafa;
    font-family: "Helvetica";
}

table tr:first-child{
    color: cyan;
    height: 70px;
}
</style>
